body {
    font-family: 'Finlandica', sans-serif;
    background-color: #f0f0f0;
    /* Змінено колір фону */
 
    margin: 0;
    padding: 20px;
    border: none;
    /* Видалено границю */
}
#exercise-list{
  font-size: 20px;
   color: rgb(18, 17, 17); 
}
#exercise-list {
    background-color: #dbd9d9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    height: 500px;
    margin: 0 auto;
    text-align: left;
    font-size: 18px;
    color: #622e2e;
    margin-top: 20px;
}
