/* Сучасні стилі для body */
body {
    font-family: 'Finlandica', sans-serif;
    background-color: #f0f0f0;
    /* Змінено колір фону */
    text-align: center;
    margin: 0;
    padding: 0;
    border: none;
    /* Видалено границю */
}
header{
    background-color: crimson;
}

/* Стилі для тексту "Виберіть свій вік" */
.age-selector-text {
    display: inline-block;
    background-color: #fff;
    padding: 5px 15px;
  
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
/* box-shadow: 2px 3px 8px 1px rgb(45, 45, 45); */
  
}

/* Стилі для зображень у модальних вікнах */
.modal img {
    max-width: 100%;
    max-height: 80vh;
    /* Наприклад, обмеження по висоті до 80% висоти вікна */
    display: block;
    margin: 0 auto;
    /* Це центрує зображення горизонтально в модальному вікні */
}



.age-groups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.age-group {
    margin: 10px;
    padding: 10px;
    background-color: #f3f152;
    border-radius: 8px;
    box-shadow: 2px 3px 8px 1px rgb(45, 45, 45);
    text-align: center;
    width: 90%;
    max-width: 300px;
}

.age{
    font-weight: 600;
    font-size: 26px;
    color: rgb(33, 33, 33);
}

.age-group img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
        /* Додавання курсора pointer */
}

.age-group p {
    margin-top: 10px;
    font-size: 18px;
}


/* CSS для вікна */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    /* Збільшити відступи */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    /* Збільшити максимальну ширину */
    width: 500px;
    /* Задайте фіксовану ширину, якщо потрібно */
    max-height: 80%;
    overflow-y: auto;
    text-align: center;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #3358ff;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

/* Стилі для кружечка закриття при наведенні */
.close:hover {
    background-color: #0015ff;
}


/* стилі для таблички */
   table {
       font-family: Arial, sans-serif;
       border-collapse: collapse;
       width: 100%;
       margin-bottom: 20px;
   }

   table th,
   table td {
       border: 1px solid #ddd;
       padding: 8px;
       text-align: left;
      
   }

    
        table td:hover{
            color: #3358ff;
            cursor: pointer;
        }

   table th {
       background-color: #f2f2f2;
   }

   table tr:nth-child(even) {
       background-color: #f2f2f2;
   }

   table tr:hover {
       background-color: #ddd;
    
   }
  


/* Стилі для GIF-контейнера */
.gif-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 7, 16, 0.955);
    /* Прозорий фон */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* Встановіть вищий індекс, щоб забезпечити появу поверх основного контенту */
    opacity: 0;
    /* Початкова прозорість 0 */
    transition: opacity 1s ease-in-out;
    /* Плавний перехід прозорості з тривалістю 1 секунда */
}

.gif-container.show {
    opacity: 1;
    /* Прозорість 1 при показі GIF */
}

.gif-container img {
    width: 100%;
 
    height: 65vh;

    border-radius: 10px;
}

.gif-caption {
    position: absolute;
    /* bottom: 20px; */
    /* Відстань від нижнього краю */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 28px;
    font-weight: bold;
    transition: opacity 1s ease-in-out;
    /* Плавний перехід прозорості з тривалістю 1 секунда */
}

/* Застосовуємо стилі до тексту, коли .gif-container має клас show */
.gif-container.show .gif-caption {
    opacity: 1;
    /* Прозорість 1 при показі GIF */
}


/* Стилі для кнопки "Почати тренування" */
.start-workout-button-three,
.start-workout-button-one {
    background-color: #3358ff;
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.start-workout-button:hover {
    background-color: #0015ff;
}